<h2>Topic List</h2>

<%= sort_link(@q, :created_at, 'Created At', default_order: :desc) %> |
<%= sort_link(@q, :comments_count, 'Comments', default_order: :desc) %>

<% Category.all.each do |c| %>
  <%= link_to c.name, topics_path( :cid => c.id ) %>
<% end %>
<%= link_to "All", topics_path %>

<table>
  <tr>
    <th>Topic</th>
    <th>Category</th>
    <th>Authors</th>
    <th>Comments</th>
    <th>Time</th>
  </tr>

  <% @topics.each do |t| %>
    <tr>
      <td><%= link_to t.title, topic_path(t) %></td>
      <td><%= t.categories.map{ |c| c.name }.join(", ") %></td>
      <td>
        <% t.authors.each do |a| %>
          <%= link_to a.display_name, user_path(a) %>
        <% end %>
      </td>
      <td><%= t.comments_count %></td>
      <td><%= t.created_at.strftime("%B %d at %I:%M %p") %></td>
    </tr>
  <% end %>

</table>

<%= paginate @topics %>