<h2>Topic List</h2>

<%= link_to "New Topic", new_topic_path %>

<table>
  <tr>
    <th>Topic</th>
    <th>Authors</th>
    <th>Comments</th>
    <th>Time</th>
  </tr>

  <% @topics.each do |t| %>
    <tr>
      <td><%= link_to t.title, topic_path(t) %></td>
      <td><%= t.authors.map{ |u| u.display_name }.join(", ") %></td>
      <td><%= t.comments_count %></td>
      <td><%= t.created_at.strftime("%B %d at %I:%M %p") %></td>
    </tr>
  <% end %>

</table>

<%= paginate @topics %>